<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<app-nav-bar></app-nav-bar>

<div class="music">
  <img src="https://i.postimg.cc/g0y66mRF/headset.png" alt="Music image">
</div>
<div class="title">
<div class=headcontent>
  <em>Turn Up The <br> MUSIC</em> <i class="fas fa-music"></i>
</div>
<div class="content">
  <em>"Where words leave off, <br> music begins."</em>
</div>
 <div class="button">
    <a routerLink="/register">Join Now</a>
   <a routerLink="/login">Sign In</a>
</div>
</div>


